.catalogue-class{
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 300px;
    width: 500px;
    height: 300px;
    border: solid 3px;
    border-color: white;
}


#article-one{
    width: 99%;
    height: 300px;
    margin: 5px;
    padding: 5px;
    border: solid 1px;
    border-color: red;
}

#article-two{
    width: 99%;
    height: 300px;
    margin: 5px;
    padding: 5px;
    border: solid 1px;
    border-color: red;
}

#article-three{
    width: 99%;
    height: 300px;
    margin: 5px;
    padding: 5px;
    border: solid 1px;
    border-color: red;
}

.img-article{
    align-items: center;
    margin: 5px;
}

.paraOeuvre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;    
}
